
            /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}


            /* Reset */



body {
    background-color: #F6F8F9;
}            

.v-allign-center {

    vertical-align: middle;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding: 0 20px;
}

.header-txt {
    display: inline-block;
    font-size: 2.5em;
}



        /* main */

main {
  width: 80%;
  border-radius: 5px;
  background-color: white;
  margin: 2em auto;
}


.main-header {
  padding: 10px 20px 5px;
  border-bottom: 2px solid #F6F8F9;
}

                    /* btns */
                    
.btn {
  padding: 0.5em;
  border: 1px solid lightgray;
  border-radius: 0.3em;
  background-color: white;
  font-size: 1em;
  color: black;
  display: inline-block;
}

.btn-lightblue {
  background-color: #14AAF5;
  border-color: #14AAF5;
  color: white;
}

.btn-white {
  color: lightgrey;
}


                /* lista */
.content {
  padding: 20px;
}

.todo-list {
  list-style-type: none;
}

.todo-list li {
  margin: 1em 0;
}

.type-todo-list-item h2 {
  display: inline-block;
  vertical-align: middle;
}


                                    /* checkers */

.topic {
  display: inline-block;
  padding: 0.5em;
  border-radius: 1.6em;
  color: white;
  background-color: 
  #14AAF5;
}

.goals {
  background-color: #AB5DE6;
}

.recruiting {
  background-color: #32C7AD;
}

.mobile {
  background-color: #FF9B00;
}

.check {
  display: inline-block;
  border: 1px solid green;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  color: green;
}

.unchecked {
  border-color: red;
  color: red;
}
