
            /* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}


            /* Reset */



body {
    background-color: #bfc0c1;
}            

.v-allign-center {

    vertical-align: middle;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding: 0 20px;
}

.header-txt {
    display: inline-block;
    font-size: 2.5em;
}



        /* main */

main {
  width: 80%;
  border-radius: 5px;
  background-color: white;
  margin: 2em auto;
}

.main-header {
  padding: 10px 20px 5px;
  border-bottom: 2px solid lightgrey;
}

                    /* btns */
                    
.btn {
  padding: 0.5em;
  border: 1px solid lightgrey;
  border-radius: 0.3em;
  background-color: white;
  font-size: 1em;
  color: black;
}

.btn-lightblue {
  background-color: #14AAF5;
  border-color: #14AAF5;
  color: white;
}

.btn-white {
  color: lightgrey;
}

